<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <meta name="format-detection" content="telephone=no, email=no, address=no, date=no">
  <script type="text/javascript" src="vendor/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/tableExport.js"></script>
  <!--[if lt IE 9]>
  <script type="text/javascript" src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script type="text/javascript" src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link type="text/css" href="vendor/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" href="vendor/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="stylesheets/style.css">


</head>
<body>